body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.app-container{
  .custom-box-add{
    display:flex;
    align-items: center;
    justify-content: space-between;
    .btn-primary{
      margin: 0px 5px;
    }
  }
  .login-container{
    display: flex;
    flex-direction: column;
    margin: 0 auto;

    .title{
      text-align: center;
      font-size: 20px;
      font-weight: 700;
      padding: 30px 0px;
    }
    .text{
      font-weight: 700;
      padding: 3px 0px;
    }
    input{
      padding:7px 5px;
      margin-bottom: 5px;
      border-radius: 3px;
      outline: none;
      width: 100%;
      &:hover{
        background-color: rgb(214, 213, 213);
      }
    }
    .box-password{
      position: relative;
      .eye{
        position: absolute;
        right:7px;
        top:13px;
        cursor: pointer;
      }
    }
    button{
      padding:7px;
      border-radius:3px;
      font-size: 18px;
      background: transparent;
      font-weight: 600;
      cursor: not-allowed;
      &.active{
        color:white;
        background-color: rgb(246, 88, 88);
        border: none;
      }
    }
    .back{
      text-align: center;
      margin-top: 7px;
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
