.sort-header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    i{
        padding: 0px 2px;
        cursor: pointer;
        margin: 0px 3px;
    }
}
.custom-mize{
    overflow-x: auto;
    width: inherit;
}
.pagination{
    justify-content: center;
}